<!DOCTYPE html>
<html lang="en">
	{% load static %}
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<meta
			name="description"
			content="Get Realtime news"
		/>
		<title>Amongus</title>
		<link
			href="{% static 'frontend/assest/logo192.png' %}"
			rel="apple-touch-icon"
		/>
		<link
			href="{% static 'frontend/assest/favicon.ico' %}"
			rel="shortcut icon"
		/>
		<link
			href="{% static 'frontend/json/manifest.json' %}"
			rel="manifest"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
			rel="stylesheet"
		/>
		
		<link
			href="{% static 'frontend/assets/fonts/datta/datta-icons.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'frontend/assets/fonts/feather/icon-font.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'frontend/css/2.3239f18c.chunk.css' %}"
			rel="stylesheet"
		/>
		<link
			href="{% static 'frontend/css/main.5a4a1fcb.chunk.css' %}"
			rel="stylesheet"
		/>

	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>

		<script>
			!(function (c) {
				function e(e) {
					for (
						var t, r, n = e[0], o = e[1], a = e[2], u = 0, i = [];
						u < n.length;
						u++
					)
						(r = n[u]),
							Object.prototype.hasOwnProperty.call(p, r) &&
								p[r] &&
								i.push(p[r][0]),
							(p[r] = 0);
					for (t in o)
						Object.prototype.hasOwnProperty.call(o, t) && (c[t] = o[t]);
					for (h && h(e); i.length; ) i.shift()();
					return s.push.apply(s, a || []), l();
				}
				function l() {
					for (var e, t = 0; t < s.length; t++) {
						for (var r = s[t], n = !0, o = 1; o < r.length; o++) {
							var a = r[o];
							0 !== p[a] && (n = !1);
						}
						n && (s.splice(t--, 1), (e = d((d.s = r[0]))));
					}
					return e;
				}
				var r = {},
					f = { 1: 0 },
					p = { 1: 0 },
					s = [];
				function d(e) {
					if (r[e]) return r[e].exports;
					var t = (r[e] = { i: e, l: !1, exports: {} });
					return c[e].call(t.exports, t, t.exports, d), (t.l = !0), t.exports;
				}
				(d.e = function (s) {
					var e = [];
					f[s]
						? e.push(f[s])
						: 0 !== f[s] &&
						  { 4: 1 }[s] &&
						  e.push(
								(f[s] = new Promise(function (e, n) {
									for (
										var t =
												'static/frontend/css/' +
												({}[s] || s) +
												'.' +
												{ 3: '31d6cfe0', 4: '9b3282f8' }[s] +
												'.chunk.css',
											o = d.p + t,
											r = document.getElementsByTagName('link'),
											a = 0;
										a < r.length;
										a++
									) {
										var u =
											(c = r[a]).getAttribute('data-href') ||
											c.getAttribute('href');
										if ('stylesheet' === c.rel && (u === t || u === o))
											return e();
									}
									var i = document.getElementsByTagName('style');
									for (a = 0; a < i.length; a++) {
										var c;
										if (
											(u = (c = i[a]).getAttribute('data-href')) === t ||
											u === o
										)
											return e();
									}
									var l = document.createElement('link');
									(l.rel = 'stylesheet'),
										(l.type = 'text/css'),
										(l.onload = e),
										(l.onerror = function (e) {
											var t = (e && e.target && e.target.src) || o,
												r = new Error(
													'Loading CSS chunk ' + s + ' failed.\n(' + t + ')'
												);
											(r.request = t),
												delete f[s],
												l.parentNode.removeChild(l),
												n(r);
										}),
										(l.href = o),
										document.getElementsByTagName('head')[0].appendChild(l);
								}).then(function () {
									f[s] = 0;
								}))
						  );
					var r = p[s];
					if (0 !== r)
						if (r) e.push(r[2]);
						else {
							var t = new Promise(function (e, t) {
								r = p[s] = [e, t];
							});
							e.push((r[2] = t));
							var n,
								o = document.createElement('script');
							(o.charset = 'utf-8'),
								(o.timeout = 120),
								d.nc && o.setAttribute('nonce', d.nc),
								(o.src =
									d.p +
									'static/frontend/js/' +
									({}[s] || s) +
									'.' +
									{ 3: 'f1c3577c', 4: 'c8a4f07e' }[s] +
									'.chunk.js');
							var a = new Error();
							n = function (e) {
								(o.onerror = o.onload = null), clearTimeout(u);
								var t = p[s];
								if (0 !== t) {
									if (t) {
										var r = e && ('load' === e.type ? 'missing' : e.type),
											n = e && e.target && e.target.src;
										(a.message =
											'Loading chunk ' +
											s +
											' failed.\n(' +
											r +
											': ' +
											n +
											')'),
											(a.name = 'ChunkLoadError'),
											(a.type = r),
											(a.request = n),
											t[1](a);
									}
									p[s] = void 0;
								}
							};
							var u = setTimeout(function () {
								n({ type: 'timeout', target: o });
							}, 12e4);
							(o.onerror = o.onload = n), document.head.appendChild(o);
						}
					return Promise.all(e);
				}),
					(d.m = c),
					(d.c = r),
					(d.d = function (e, t, r) {
						d.o(e, t) ||
							Object.defineProperty(e, t, { enumerable: !0, get: r });
					}),
					(d.r = function (e) {
						'undefined' != typeof Symbol &&
							Symbol.toStringTag &&
							Object.defineProperty(e, Symbol.toStringTag, { value: 'Module' }),
							Object.defineProperty(e, '__esModule', { value: !0 });
					}),
					(d.t = function (t, e) {
						if ((1 & e && (t = d(t)), 8 & e)) return t;
						if (4 & e && 'object' == typeof t && t && t.__esModule) return t;
						var r = Object.create(null);
						if (
							(d.r(r),
							Object.defineProperty(r, 'default', { enumerable: !0, value: t }),
							2 & e && 'string' != typeof t)
						)
							for (var n in t)
								d.d(
									r,
									n,
									function (e) {
										return t[e];
									}.bind(null, n)
								);
						return r;
					}),
					(d.n = function (e) {
						var t =
							e && e.__esModule
								? function () {
										return e.default;
								  }
								: function () {
										return e;
								  };
						return d.d(t, 'a', t), t;
					}),
					(d.o = function (e, t) {
						return Object.prototype.hasOwnProperty.call(e, t);
					}),
					(d.p = '/'),
					(d.oe = function (e) {
						throw (console.error(e), e);
					});
				var t = (window['webpackJsonpcitizen-watch'] =
						window['webpackJsonpcitizen-watch'] || []),
					n = t.push.bind(t);
				(t.push = e), (t = t.slice());
				for (var o = 0; o < t.length; o++) e(t[o]);
				var h = n;
				l();
			})([]);
		</script>

		<script src="{% static 'frontend/js/2.cc334f9b.chunk.js' %}"></script>
		<script src="{% static 'frontend/js/main.812df775.chunk.js' %}"></script>
	</body>
</html>
